.tech {
    margin: 5px 0; /* Отступы сверху и снизу */
    font-size: 16px; /* Размер шрифта */
    color: #000000; /* Цвет текста */

}

.loading {
    font-size: 14px; /* Размер шрифта */
    color: #4D4D4D; /* Серый цвет текста */
    padding: 4px 0; /* Внутренний отступ сверху и снизу */
    position: absolute; /* Абсолютное позиционирование */
    left: 445px; /* Отступ от левого края */
}
