.friendMessage {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.friendImageAndText {

}

.friendImageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.friendText {

}

.friendText:after {

}

.friendName {
    font-size: 20px;
    font-weight: bold;
    color: #0059b3;
}

.friendMessageText {

}

.friendTime {
    display: flex;
    justify-content: flex-end;
    color: #0066cc;
}
